.button {
    width: 1000px;
    padding: 1000px;
    margin: 500px;
    box-sizing: border-box;
    cursor: pointer;
}
.image-container img {
    width: 100px;
    height: 100px;
    margin: 5px;
}
.image-container input[type="text"] {
    margin: 100px;
    padding: 100px;
}
