.button {
    width: 200px;
    padding: 50px;
    margin: 0px;
    box-sizing: border-box;
    cursor: pointer;
}
.image-container img {
    width: 50px;
    height: 50px;
    margin: 0px;
}
.image-container input[type="text"] {
    margin: 5px;
    padding: 5px;
}
button[data-image]  {
    width: 150px;
    padding: 50px;
    margin: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
@media (max-width: 768px) {
    .button {
        width: 100%;  /* スマートフォンではボタンを全幅に */
        padding: 10px; /* パディングを調整 */
    }
    .image-container img {
        width: 80%; /* 画像の幅を調整 */
    }
}
